; Settings for Twitch Plays Flappy Bird
; Thanks sunshinekitty5 

[Settings]

; Where you're connecting to, if it's Twitch leave it as is
HOST = irc.twitch.tv

; Port number, probably should use 6667
PORT = 6667

; Auth token, grab this from http://www.twitchapps.com/tmi
AUTH = oauth:q3lamxiy9s0ibrnn1xvblxd3sriryq4

; Your Twitch Bot's Username
USERNAME = gabtemp

; Name of the application you run the file from, I suggest VBA
APP = Google Chrome

; Username of who's channel you're connecting to
CHAT_CHANNEL = gabtemp

; The maximum number of lines in commands.txt (Useful for showing commands received in stream)
LENGTH = 20

